    <div class="row" id="TripInput" style="margin-left:15px"><div class="col-md-3" style="margin-left:-15px"><a href="#/" class="btn btn-sm btn-default"><i class="fa fa-angle-left"></i>Back</a></div></div>
    <div class="col-md-3" id="TripInput">
        <h2>{{vm.tripName}}</h2>
        <wait-cursor display-when="vm.isBusy"></wait-cursor>
        <div class="alert alert-danger" ng-show="vm.errorMessage">{{vm.errorMessage}}</div>

        <form novalidate name="newStopForm" ng-submit="vm.addStop()">
            <div class="form-group">
                <div>
                    <span class="text-danger" ng-show="newStopForm.arrival.$error.pattern">Must be in format of yyyy-mm-dd</span>
                </div>
                <datepicker date-format="yyyy-MM-dd" button-prev="<i class=&quot;fa fa-arrow-circle-left&quot;></i>" button-next="<i class=&quot;fa fa-arrow-circle-right&quot;></i>" >
                    <input class="form-control" id="arrival" name="arrival" ng-model="vm.newStop.arrival" required
                           ng-pattern="/^(\d{4})\-(\d{2})\-(\d{2})$/" placeholder="Select date..." />
                </datepicker>


                <span class="text-danger" ng-show="newStopForm.arrival.$error.required">Required</span>
            </div>
            <div class="form-group">
                <input class="form-control" id="name" name="name" ng-model="vm.newStop.name" required ng-minlength="5" placeholder="Select location..."/>
                <span class="text-danger" ng-show="newStopForm.name.$error.required">Required</span>
                <span class="text-danger" ng-show="newStopForm.name.$error.minlength">Must be 5 characters or more</span>

            </div>
            <div><input type="submit" value="Add" class="btn btn-success" ng-disabled="newStopForm.$invalid" /></div>
        </form>
       
        <table class="table table-responsive table-striped" id="stops">
            <thead>
                <tr>
                    <th>
                        <button class="btn btn-block btn-xs" ng-click="vm.sortBy('name')">Location <span class="sortorder" ng-show="vm.propertyName === 'name'" ng-class="{reverse: vm.reverse}"></span></button>     
                    </th>
                    <th>
                        <button class="btn btn-block btn-xs" ng-click="vm.sortBy('arrival')">Arrival <span class="sortorder" ng-show="vm.propertyName === 'arrival'" ng-class="{reverse: vm.reverse}"></span></button>
                    </th>
                    <th>
                        <button class="btn btn-block btn-xs" ng-click="vm.sortBy('order')">Order <span class="sortorder" ng-show="vm.propertyName === 'order'" ng-class="{reverse: vm.reverse}"></span></button>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="hiddenTable" ng-repeat="stop in vm.stops | orderBy:vm.propertyName:vm.reverse" >
                    
                        <td>{{stop.name}}</td>
                        <td>{{stop.arrival | date:'yyyy-MM-dd'}}</td>

                        <td><div><button type="button" class="btn btn-warning" ng-click="vm.removeStop(stop)">Remove</button></div></td>                    
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        
        

    </div>

    <div class="col-md-8">
        <h2>The Map</h2>
        <div id="map"ng-if="vm.show"></div>
    </div>


