@model IEnumerable<TheWorld.Models.Trip>
@{
    ViewBag.Title = "Home Page";
}

@section scripts{
    <script src="~/lib/jquery/dist/jquery.js" type="text/javascript"></script>
    <script src="~/js/map_intro/jquery-jvectormap-2.0.3.min.js" type="text/javascript"></script>
    <script src="~/js/map_intro/jquery-jvectormap-world-mill-en.js" type="text/javascript"></script>
    <script src="~/js/map_intro/mapIntro.js" type="text/javascript"></script>
}





    <div id="world-map" class="map-intro"></div>
    
    






